# Server Configuration
PORT=3001

# Telegram Configuration
# 1. Telegram'da @BotFather'a gidin ve yeni bir bot oluşturun. Size bir API TOKEN verecektir.
TELEGRAM_BOT_TOKEN=buraya_bot_tokenini_yaz

# 2. Telegram'da @userinfobot'a gidin ve kendi USER ID'nizi öğrenin.
TELEGRAM_CHAT_ID=buraya_chat_id_yaz
